:root {
  --icon-color-left: var(--co-left-sidebar__icon, #5c7080);
  --icon-color-top: var(--co-button__minimal-icon, #5c7080);
}

.color-toaster .bp3-toast {
  background: orange;
  color: black;
}

.speech-to-roam :is(.log-button, .bp3-icon, .bp3-button):focus {
  border: none;
  outline: none;
}
.timer {
  font-variant-numeric: tabular-nums;
  margin-left: 4px;
}
.speech-to-roam-container-left > .speech-ui-row1 .left-timer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
  margin-left: 2px;
  padding-left: 0;
}
.roam-sidebar-content,
.log-button {
  max-width: 230px !important;
}
.speech-to-roam-container-left.speech-to-roam.log-button {
  padding-right: 5px !important;
  margin-right: 0px !important;
}
.speech-to-roam-container-left > .speech-ui-row1 > .log-button {
  margin-right: 0px !important;
}

.speech-record-button {
  min-width: 24px !important;
}
.speech-record-button > span {
  margin-left: -2px;
}
.speech-record-button:focus,
.speech-backward-button:focus {
  outline-width: 0px !important;
}
.speech-record-button .bp3-icon {
  margin-left: 2px;
  min-width: 24px;
  padding: 0;
}

.speech-ui-row1,
.speech-ui-row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 24px;
}

.speech-to-roam-container-top {
  z-index: 1;
}
.speech-to-roam-container-top:has(.speech-ui-row2 > .bp3-popover-wrapper) {
  margin-top: 5px;
}
.speech-to-roam-container-top .speech-ui-row2:not(:has(.bp3-popover-wrapper)) {
  display: none;
}

.speech-to-roam-container-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.speech-to-roam-container-left:has(.digits) {
  padding-top: 2px;
  padding-bottom: 2px;
}
.speech-to-roam-container-left:has(.digits) > div.log-button {
  padding-right: 0 !important;
}
.speech-to-roam-container-left > .speech-ui-row1 > .log-button {
  padding: 0 4px 0 2px !important;
  margin-left: 0 !important;
}
.speech-to-roam-container-left:has(.digits) > .speech-ui-row1 > .log-button {
  padding-right: 0 !important;
}

.speech-to-roam-container-left svg:not(.fa-record-vinyl) path {
  fill: var(--icon-color-left);
}
.speech-to-roam-container-top svg:not(.fa-record-vinyl) path {
  fill: var(--icon-color-top);
}

.speech-to-roam-container-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  /* padding-top: 4px;
  padding-bottom: 4px; */
  margin-right: 20px;
}
/* .speech-to-roam-container-inline .bp3-popover-target {
  margin-right: 15px;
} */
.speech-to-roam-container-inline > .bp3-popover-wrapper:nth-child(2) {
  width: 170px;
}

.highlight-elt {
  /* outline: 6px dashed transparent; */
  /* transition: border-color 1s; */
  animation: flash 5s;
  /* -webkit-box-shadow: 0 0 10px 5px green; */
}

@keyframes flash {
  0% {
    /* filter: brightness(1.5); */
    /* outline-color: transparent; */
    -webkit-box-shadow: 0 0 10px 5px transparent;
  }
  50% {
    filter: brightness(0.9);
    /* outline-color: rgba(0, 128, 0, 0.65); */
    -webkit-box-shadow: 0 0 10px 5px green;
  }
  100% {
    /* filter: brightness(1); */
    /* outline-color: transparent; */
    -webkit-box-shadow: 0 0 10px 5px transparent;
  }
}
/* .speech-to-roam-container-inline
  > .bp3-popover-wrapper:nth-child(2):not(:has(.timer)),
.speech-to-roam-container-inline
  > .bp3-popover-wrapper:nth-child(3):not(:has(.bp3-button)) {
  display: none;
} */

/* @media (min-width: 768px) {
  .log-button:has(.speech-ui-row1) {
    margin-right: 0 !important;
  }
} */

/* @media (max-width: 768px) {
  .speech-to-roam-container-top:has(.timer),
  .speech-to-roam-container-left:has(.timer) {
    flex-direction: column;
    padding-left: 15px !important;
    gap: 5px;
  }
  .speech-to-roam-container-top:has(.timer) {
    position: relative;
    top: 20px;
  }
  .speech-to-roam-container-top:has(.timer) .speech-ui-row1 {
    margin-bottom: 7px;
  }
  .speech-to-roam-container-top:has(.timer) + .bp3-button {
    display: none;
  }

  .speech-ui-row1:has(.timer),
  .speech-ui-row2 {
    justify-content: flex-start;
    gap: 5px;
    scale: 1.25;
  }
  .speech-ui-row1:has(.timer) > div.log-button {
    margin-left: 0 !important;
  }
  .speech-ui-row1:has(.timer) .bp3-icon,
  .speech-ui-row1:has(.timer) .log-button:nth-child(2),
  .speech-ui-row2 .bp3-button {
    padding: 8px !important;
    gap: 5px;
  }
} */

@media (max-width: 500px) {
  .roam-sidebar-content,
  .log-button {
    max-width: 100vw !important;
  }
  .speech-to-roam:has(.timer) {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 !important;
    top: calc(100dvh / 4 * 3);
    left: 0;
    width: 100vw;
    height: calc(100dvh / 4);
    z-index: 10;
    color: #5c7080;
    background-color: var(--bc-main, #182026) !important;
  }
  .speech-to-roam-container-top:has(.timer) {
    border-top: 2px solid #5c7080;
    background-color: var(--bc-main, white) !important;
  }

  .speech-ui-row1:has(.timer),
  .speech-ui-row2 {
    justify-content: center;
    gap: 10px;
    scale: 2.5;
  }
}

@media (max-width: 390px) {
  .speech-ui-row1:has(.timer),
  .speech-ui-row2 {
    justify-content: center;
    gap: 5px;
    scale: 2.2;
  }
}
