:root {
  --icon-color: var(--co-button__icon, #5c7080);
}

.timer {
  font-variant-numeric: tabular-nums;
  margin-left: 4px;
}
.speech-to-roam-container-left .speech-ui-row1 .left-timer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
  margin-left: 2px;
  padding-left: 0;
}

.speech-record-button {
  min-width: 24px !important;
}
.speech-record-button:focus,
.speech-backward-button:focus {
  outline-width: 0px !important;
}
.speech-record-button .bp3-icon {
  margin-left: 2px;
  min-width: 24px;
  padding: 0;
}

.speech-ui-row1,
.speech-ui-row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 24px;
}

.speech-to-roam-container-top:has(.speech-ui-row2 > .bp3-popover-wrapper) {
  margin-top: 5px;
}
.speech-to-roam-container-top .speech-ui-row2:not(:has(.bp3-popover-wrapper)) {
  display: none;
}

.speech-to-roam-container-left {
  display: flex;
  align-items: center;
}
.speech-to-roam-container-left:has(.digits) {
  padding-top: 2px;
  padding-bottom: 2px;
}
.speech-to-roam-container-left:has(.digits) > div.log-button {
  padding-right: 0 !important;
}
.speech-to-roam-container-left > .speech-ui-row1 > .log-button {
  padding: 0 4px 0 0 !important;
}

.speech-to-roam-container-left svg:not(.fa-record-vinyl) path,
.speech-to-roam-container-top svg:not(.fa-record-vinyl) path {
  fill: var(--icon-color);
}

.speech-to-roam-container-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  /* padding-top: 4px;
  padding-bottom: 4px; */
  margin-right: 20px;
}
/* .speech-to-roam-container-inline .bp3-popover-target {
  margin-right: 15px;
} */
.speech-to-roam-container-inline > .bp3-popover-wrapper:nth-child(2) {
  width: 170px;
}
/* .speech-to-roam-container-inline
  > .bp3-popover-wrapper:nth-child(2):not(:has(.timer)),
.speech-to-roam-container-inline
  > .bp3-popover-wrapper:nth-child(3):not(:has(.bp3-button)) {
  display: none;
} */

@media (min-width: 768px) {
  .log-button:has(.speech-ui-row1) {
    margin-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .speech-to-roam-container-top:has(.timer),
  .speech-to-roam-container-left:has(.timer) {
    flex-direction: column;
    align-items: space-evenly;
    gap: 5px;
  }
  /* .speech-to-roam-container-left:has(.timer) {
    margin-left: 12px;
  } */
  .speech-to-roam-container-top:has(.timer) {
    position: relative;
    top: 20px;
    z-index: 1;
  }
  .speech-to-roam-container-top:has(.timer) .speech-ui-row1 {
    margin-bottom: 7px;
  }
  .speech-to-roam-container-top:has(.timer) + .bp3-button {
    display: none;
  }

  .speech-ui-row1:has(.timer),
  .speech-ui-row2 {
    justify-content: flex-start;
    gap: 5px;
    scale: 1.25;
  }
  .speech-ui-row1:has(.timer) > div.log-button {
    margin-left: 0 !important;
  }
  .speech-ui-row1:has(.timer) .bp3-icon,
  .speech-ui-row1:has(.timer) .log-button:nth-child(2),
  .speech-ui-row2 .bp3-button {
    padding: 8px !important;
    gap: 5px;
  }
  /* .speech-to-roam-container-left .speech-ui-row2 {
    margin-left: 10px;
  } */
}
