.speech-record-button {
  min-width: 30px !important;
}
.speech-record-button:focus,
.speech-backward-button:focus {
  outline-width: 0px !important;
}
/* .speech-display-button {
  display: inline;
} */
.speech-to-roam-container-left {
  display: flex;
  align-items: center;
}
